* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 1em;
}

.column-l {
    width: 25%;
    background-color: #aaa;
}

.column-r {
    width: 75%;
    background-color: #bbb;
}

.column-all {
    width: 100%;
    background-color: coral;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row-main, .column-main {
    min-height: 50em;
}

li {
    list-style-type: none;
}

li a {
    
}

.clean-list li {
    /* display: inline; */

}

.vertical-list li{
    /* padding: 0em 1em; */
    line-height: 2em;
}

.horizontal-list li {
    padding: 0em;
    padding-right: 1em;
    margin: 0em;
    float: left;
    margin-bottom: 1em;
}

li {
    /* list-style-type: none;
    padding: 0em;
    margin: 0em;
    float: left; 
}

li a {
    /* text-decoration: none; */
    /* display: block; */
    /* padding: 0em 1em;
    line-height: 2em; */
}
.active {
    color:blue;
}
.inactive {
    color: black;
}

.title-name {
    font-weight: bold;
    font-size: 2em;
    margin-right: 1em;
}

.title-small {
    font-weight: bold;
}

.copywrite {
    font: var(--font_2)
}

.hovering {
    color:yellow
}
.active-display {
    text-decoration: underline;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    .row-main, .column-main {
        min-height: 1em;
    }
}

:root {
    --font_2: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
}