<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="vue-main.css">
    <script src="data.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="row">
            <div class="column">
                <p><a class="title-name">Spencer</a>/Vue Resume</p>
            </div>
            <div class="column">
                <primary-options :items="primaryOptions">
                    <template slot-scope="{item, setActive}">
                        <a :href="item.uri" class="primary-option" @click="setActive(item,$event)">
                            {{item.name}}
                        </a>
                    </template>
                </primary-options>
                <template id="primary-option-tpl">
                    <div>
                        <ul class="horizontal-list">
                            <li v-for="(item, i) in items" :key="i" @mouseover="hoveringEffect"
                                @mouseout="endHoveringEffect">
                                <slot v-bind="{item, setActive}"></slot>
                            </li>
                        </ul>
                    </div>
                </template>
            </div>
        </div>
        <div class="row-main">
            <div class="column column-l column-main">
                <div class="column">
                    <title-options>
                        <template slot-scope="{item, setActive}">
                            <a class="title-option" @click="setActive(item,$event)">
                                {{item}}
                            </a>
                        </template>
                    </title-options>
                    <template id="title-option-tpl">
                        <div>
                            <ul class="vertical-list">
                                <li v-for="(item, i) in optionFilter" :key="i" @mouseover="hoveringEffect"
                                    @mouseout="endHoveringEffect">
                                    <slot v-bind="{item, setActive}"></slot>
                                </li>
                            </ul>
                        </div>
                    </template>
                </div>
            </div>
            <div class="column column-r column-main">
                <ul>
                    <information-output>
                        <template slot-scope="{item}">
                            <a class="title-option">
                                {{item}}
                            </a>
                        </template>
                    </information-output>
                    <template id="information-output-tpl">
                        <div>
                            <ul class="vertical-list">
                                <li v-for="(item, i) in optionFilter" :key="i">
                                    <slot v-bind="{item}"></slot>
                                </li>
                            </ul>
                        </div>
                    </template>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="column column-all">
                <div class="row">
                    <div class="column">
                        <ul class="clean-list">
                            <li><a class="copywrite">@2022 by Spencer Sohn</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul class="clean-list">
                            <li><a class="title-small">Phone</a><a>(505)-459-3221</a></li>
                            <li><a class="title-small">Email</a><a>sohn.spencer@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="vue.js"></script>
</body>

</html>